/.gitattributes export-ignore
/.gitignore export-ignore
/.tx/ export-ignore
/language/*.pot export-ignore
/language/*.po export-ignore

/.project/ export-ignore
/.agents/ export-ignore
/.claude/ export-ignore
/AGENTS.md export-ignore
