.faceted-browse-page,
.block-facetedBrowsePreview {

    #container {
        flex-wrap: wrap;

        @media (min-width: $xl) {
            flex-wrap: nowrap;
            gap: 3rem;
        }
    }

    #section-sidebar {
        width: 100%;

        @media (min-width: $xl) {
            border-right: 1px solid #ececec;
            padding-right: 1.6rem;
            width: 20%;
            z-index: auto !important;
        }

        &.open {
            z-index: 1050 !important;
        }

        &-modal-toggle {
            margin-bottom: 25px;
        }

        .field, fieldset {
            box-shadow: none;
        }

        button.close-button {
            background-color: $color__primary;
        }
    }

    #section-content {
        width: 100%;

        @media (min-width: $xl) {
            width: 80%;
        }

        .browse-controls {
            border-bottom: none;
            margin-bottom: 0;

            .pagination {
                margin-top: 0;
            }
        }
    }

    .faceted-results,
    .resource-list {
        img {
            max-height: 3rem;
            max-width: 3rem;
        }
    }

    .faceted-results {
        img {
            margin-right: 1rem;
        }

        a {
            display: list-item;
            width: auto;
        }
    }

    #facets {
        margin-bottom: 1rem;
        overflow: hidden;

        @media (min-width: $xl) {
            height: auto;
            margin-bottom: 0;
            overflow: initial;
        }

        &.show-all {
            height: auto;
            overflow: initial;
        }
    }

    #show-more-facets {
        @media (min-width: $xl) {
            display: none;
        }
    }

    .select-list {
        display: block;
        margin-left: 0 !important;
        width: 100%;

        @media (min-width: $xl) {
            display: flex;
            flex-wrap: wrap;
            margin-left: 1rem !important;
        }

        &-item {
            margin-left: 1rem;

            @media (min-width: $xl) {
                margin-left: 0;
                width: 100%;
                flex-basis: 100%;
            }

            &::before {
                content: none !important;
            }

            &:has(input.value.selected) {
                @media (min-width: $xl) {
                    width: auto;
                    flex-basis: auto;
                    padding-right: 4px;
                }

                label {
                    background-color: hsl(270, 2%, 83%);
                    border-radius: 4px;
                    display: inline-flex;
                    align-items: center;
                    gap: 0.25rem;
                    cursor: pointer;
                    padding: 0 4px;

                    input[type="checkbox"] {
                        appearance: none;
                        -webkit-appearance: none;
                        margin: 0;
                        width: 0;
                        height: 0;
                        opacity: 0;
                        position: absolute;
                    }

                    input[type="radio"] {
                        appearance: none;
                        -webkit-appearance: none;
                        margin: 0;
                        width: 0;
                        height: 0;
                        opacity: 0;
                        position: absolute;
                    }

                    &::before {
                        content: '✕';
                        color: gray;
                        font-size: 1rem;
                        cursor: pointer;
                        flex-shrink: 0;
                    }
                }
            }
        }

        &-expand,
        &-collapse {
            margin-left: 1rem;
        }
    }

    #categories {
        li {
            border-bottom: none;

            &::before {
                content: none !important;
            }
        }
    }

    #categories-return {
        display: inline-block;

        &::before {
            @include font-awesome;
            content: "\f053";
            display: inline-block;
            font-size: .8rem;
            padding-right: 5px;
            text-decoration: none;
        }
    }

    .categories-container legend,
    .facets-container legend {
        color: $color__headings;
        font-family: $font__headings;
        font-weight: 400;
        line-height: $font__headings-line-height;
    }

    .categories-container legend {
        font-size: $font__h3-sm-size;
        margin-bottom: 1.1rem;
    }

    .facets-container legend {
        font-size: $font__h4-sm-size;
        margin-bottom: 1rem;
    }

    label input {
        margin: 0 0.6rem 0 0 !important;
    }

    .resource-name {
        font-weight: 500;
    }

    .resource-list {
        padding-top: 5px;

        .resource {
            flex-wrap: wrap;
            padding: 0.75rem !important;
        }

        .resource-link {
            width: 100%;
        }
    }

    .faceted-browse-table-wrapper {
        overflow-x: auto;
        padding: 0 5px;
    }

    table {
        border-collapse: separate;
        border-spacing: 0 15px;
        display: block;
        width: 100%;

        thead {
            display: none;
        }

        tbody {
            display: block;

            tr {
                display: flex;
                flex-wrap: wrap;
                box-shadow: 0px 1px 6px 5px rgba($color__black, 0.2);
                margin-bottom: 15px;
                border-radius: 4px;

                td {
                    padding: 0.75rem;
                    .metadata-search-link {
                        white-space: nowrap;
                        
                        &::marker {
                            content: none;
                        }
                    }

                    // Enlace
                    &:nth-child(1) {
                        width: 50%;
                        order: 1;

                        .resource-link {
                            display: flex;
                            align-items: center;
                        }
                    }

                    // Descripción
                    &:nth-child(2) {
                        width: 100%;
                        order: 3;
                        border-top: 1px solid $color__gray-93;
                        font-size: 0.9rem;
                    }

                    // Curso
                    &:nth-child(3) {
                        width: 10%;
                        order: 2;
                        text-align: right;
                        align-content: center;
                    }
                    // Tipo de recurso
                    &:nth-child(4) {
                        width: 20%;
                        order: 2;
                        text-align: right;
                        align-content: center;
                    }
                    // Materia
                    &:nth-child(5) {
                        width: 20%;
                        order: 2;
                        text-align: right;
                        align-content: center;
                    }

                    // Saberes Básicos
                    &:nth-child(n+6) {
                        width: 100%;
                        order: 4;
                        border-top: 1px solid $color__gray-93;
                        display: flex;
                        flex-direction: row;
                        flex-wrap: wrap;
                        align-items: flex-start;
                        gap: 0.3rem;

                        br {
                            display: none;
                        }
                        .metadata-search-link {
                            white-space: nowrap;
                            
                            &::marker {
                                content: none;
                            }
                        }

                        .resource-link {
                            margin-right: none;
                        }
                    }
                }
            }
        }
    }
}

.tablesaw-advance {
  float: none !important;
}